@import './animations.sass'


body
    color: #fff
    background: #222

.index 

    .notice 
        margin: 20px auto
        padding: 15px 0
        text-align: center
        border: 1px solid #000
        border-width: 1px 0
        background: #666

    h1, h2, h3, h4, h5 
        color: #000



@keyframes rotation
    0%
        transform: rotate(0deg)
    25%
        transform: rotate(90deg)
    50%
        transform: rotate(150deg)
    70%
        transform: rotate(280deg)
    100%
        transform: rotate(360deg)

.search-bar-container
    width: 300px
    margin: 10px auto
    position: relative

    .search-input-container
        // border: 1px solid red

        .search-input
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
            outline: none
            border: 1px solid black
            border-radius: 3px
            padding: 5px
            box-sizing: border-box
            width: 100%

    .drop-down-container
        // padding: 10px
        box-sizing: border-box
        // border: 1px solid blue
        position: absolute
        top: 100%
        left: 0
        width: 100%

        .no-result-container
            .no-results-message
                padding: 10px
                box-sizing: border-box
                color: #000

        .drop-down
            background: white
            position: relative

            .loading-results-cover
                width: 100%
                height: 200px
                // position: absolute
                // top: 0
                // left: 0
                display: block
                background: rgba(255, 255, 255, 1)

                .position-container
                    display: table
                    width: 100%
                    height: 100%

                    .positioner
                        width: 100%
                        height: 100%
                        display: table-cell
                        vertical-align: middle
                        text-align: center
                        color: black

                        .loading-animation
                            display: inline-block
                            width: 40px
                            height: 40px
                            border-radius: 50%
                            animation: 1s linear rotation infinite
                            box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.77)
                            border: 5px solid rgba(0,0,0, 0.2)
                            border-top: 5px solid rgba(0,0,0, 1)




            $resultHeight: 50px;

            .search-result
                overflow: hidden
                display: flex
                width: 100%
                background: #fff
                color: #000
                padding: 10px
                border-top: 1px solid grey;
                box-sizing: border-box;
                text-decoration: none
                transition: background 0.2s ease-in-out

                &:first-child 
                    border: none

                &.selected
                    background: rgb(9, 134, 196)

                    .info-container
                        .result-title
                            color: white


                .image-container
                    display: inline-block
                    box-sizing: border-box
                    width: $resultHeight
                    height: $resultHeight

                    &.circle-image 
                        border-radius: 50%
                        overflow: hidden                        

                    .result-image
                        width: 100%
                        height: 100%
                        margin: 0
                        padding: 0

                .info-container
                    height: $resultHeight
                    line-height: $resultHeight
                    display: inline-block
                    box-sizing: border-box
                    padding: 0
                    margin: 0

                    .result-title
                        color: black
                        padding-left: 10px 



